routing:
  path: /{title}
  extendable: true

search:
  handler: Gravity\CmsBundle\Search\Handler\NodeHandler

fields:
  category:
    type: reference
    options:
      required: false
      limit: 1
      entity: AndyThorne\SandboxBundle\Entity\Category
    widget:
      type: select
      options: ~

  tags:
    type: reference
    options:
      required: false
      limit: 50
      entity: AndyThorne\SandboxBundle\Entity\Tag
    widget:
      type: autocomplete
      options:
        handler: taxonomy
        allow_new: true

  body:
    type: text
    dynamic: true
    options:
      limit: 1
      char_min: 10
      char_max: 100
      # ...
    widget:
      type: text.formatted
      options:
        default: 'Default Text'

  rating:
    type: number
    dynamic: true
    options:
      limit: 1
      searchable: false
    widget:
      type: number.number_box
      options:
        default: 1

  urls:
    type: text
    dynamic: true
    options:
      limit: 3
      # ...
    widget:
      type: text.unformatted
      options:
        type: url

  signedOff:
    type: boolean
    options:
      limit: 1
      searchable: false
    widget:
      type: boolean.checkbox

  parent:
    type: reference
    options:
      required: false
      limit: 1
      entity: AndyThorne\SandboxBundle\Entity\Page
    widget:
      type: select
      options: ~
        #expanded: true

  #team:
  #  type: choice
  #  dynamic: true
  #  options:
  #    choices:
  #      liverpool: Liverpool
  #      chelsea: Chelsea
  #      manu: Man Utd
  #    multiple: true
  #  widget:
  #    type: choice.select
  #    options:
  #      expanded: false
