{% extends 'GravityCmsBundle::frontend.html.twig' %}

{% block title %}{{ node.title }}{% endblock title %}

{% block content %}
    <h1>{{ node.title }}</h1>

    {% for field,settings in display_mappings %}
        {{ render_field_display(node, field) }}
    {% endfor %}
{% endblock content %}
