<div class="field">
    {% if label|default(false) %}
        {% if label_inline|default(false) %}
            <span class="field-label">{{ label|humanize }}:</span>
        {% else %}
            <div class="field-label">{{ label|humanize }}</div>
        {% endif %}
    {% endif %}
    <div class="field-content">
    {% block field %}

    {% endblock field %}
    </div>
</div>
